<div class = "panel panel-primary">
	<div class = "panel-heading">
		{{pageTitle}}
	</div>
	<div class = "panel-body">
		<div class = "row">
			<div class = "col-md-2">My IP is: </div>
			<div class = "col-md-4" *ngIf="myIp">
        {{myIp.ip}}
			</div>
		</div>
	</div>
	<div class = "panel-body">
		<div class = "row">
			<div class = "col-md-2">GMT Datetime: </div>
			<div class = "col-md-4" *ngIf="myDate">
        {{myDate.date}} {{myDate.time}}
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2">Posixtime: </div>
			<div class = "col-md-4" *ngIf="myDate">
				 {{myDate.milliseconds_since_epoch}}
			</div>
		</div>
	</div>
</div>